# IDE & editor
.idea/
.vscode/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
.venv/
venv/
env/
self_snn.egg-info/
runs/
data/

# Build / dist
build/
dist/
*.egg-info/

# OS files
.DS_Store
